<div class="container mothInLeftUp" data-ng-controller="loggedinController">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#/users">Users</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1 data-ng-model="_name">{{_name}}</h1>
            <p>This is a your user space. Here you'll be able to get real-time updates of users online, right now, and what they are doing.</p>
            <p><a href="#/logout" class="btn btn-primary btn-large">Logout &raquo;</a></p>
          </div>
      		<!-- HERE -->
        </div><!--/span-->
      </div><!--/row-->






