<div class="container mothInLeftUp">
    <form class="form-signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input type="text" class="input-block-level" placeholder="Email address" data-ng-model="name">
          <input type="password" class="input-block-level" placeholder="Password" data-ng-model="password">
          <label class="checkbox">
              <input type="checkbox" value="remember-me" data-ng-model="rememberme"> Remember me
          </label>
          <button class="btn btn-large btn-primary" type="submit" data-ng-click="signin(name,password,rememberme);">Sign in</button>
    </form>
</div>